@{
  Layout = "_Layout";
}

<h1>Welcome to the University Registrar!</h1>
<p>@Html.ActionLink("See all courses", "Index", "Courses", new {@class="link"})</p>
<p>@Html.ActionLink("See all students", "Index", "Students", new {@class="link"})</p>